@using ShowTime.BusinessLogic.Dtos
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Authorization



@if (AllArtists.Count == 0)
{
    <div class="text-center py-4">No artists available.</div>
}
else
{
    <div class="row">
        @foreach (var artist in FilteredArtists)
        {
            <ArtistCard Artist="@artist" 
                       IsEditing="@(EditingArtistId == artist.Id)"
                       OnStartEdit="@(() => OnStartEdit.InvokeAsync(artist))"
                       OnSaveEdit="@((updateDto) => OnSaveEdit.InvokeAsync(updateDto))"
                       OnCancelEdit="@(() => OnCancelEdit.InvokeAsync())"
                       OnDelete="@(() => OnDeleteArtist.InvokeAsync(artist.Id))" />
        }
    </div>
}

@code {
    [Parameter] public IList<ArtistGetDto> AllArtists { get; set; } = new List<ArtistGetDto>();
    [Parameter] public IList<ArtistGetDto> FilteredArtists { get; set; } = new List<ArtistGetDto>();
    [Parameter] public int? EditingArtistId { get; set; }
    [Parameter] public EventCallback<ArtistGetDto> OnStartEdit { get; set; }
    [Parameter] public EventCallback<ArtistUpdateDto> OnSaveEdit { get; set; }
    [Parameter] public EventCallback OnCancelEdit { get; set; }
    [Parameter] public EventCallback<int> OnDeleteArtist { get; set; }
} 